.login-container {
    height: 100vh;
    width: 100vw;

    .img-left {
        background: url("../../../assets/scott-graham-5fNmWej4tAA-unsplash.jpg");
        background-size: cover;
        width: 100%;
        
    }

    .login {
        align-items: center;
        justify-content: center;
        background-color: white;
        .login-content {
            img {
                height: 50px;
                width: 50px;
                margin-bottom: 18px !important;
            }

            h1{
                font-size: 23px;
            }

        }
    }
}

@media screen and (max-width: 768px){
    
}